@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
}

@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }

  .top-wrapper {
    text-align: left;
    padding-top: 130px;
  }
}
